---
import Section from "../Section.astro"
import { interests } from "@lib/cv.json"
---
<Section title="Hobbies">
  <ul>
    {
      interests.map(({ name}) => {
        return (
          <li>
          <span >{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 6px;
    padding: 0.3rem 0.6rem;
  }
</style>